* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Castoro Titling", cursive;
}

header {
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  padding-right: 10px;
  color: rgb(0, 0, 0);
}

.logo {
  align-items: center;
}

.barra {
  font-family: system-ui;
  background-color: rgb(255, 166, 0);
  text-align: center;
}

.barra2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body header img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.negrita a {
  font-weight: 600;
}

.negrita2 a {
  font-weight: 600;
}

.negrita3 a {
  font-weight: 600;
}

.negrita4 a {
  font-weight: 600;
}

.negrita5 a {
  font-weight: 600;
}

.principal {
  width: 98vw;
}

.logo h1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.finalimg {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.banner img {
  width: 430px;
  height: 320px;
  display: inline-block;
}

.mision {
  font-weight: 300;
  font-size: 28px;
  box-sizing: border-box;
  display: block;
  text-align: center;
  background-image: linear-gradient(to bottom, rgb(243, 156, 18), rgb(245, 176, 65), rgb(248, 196, 113));
}

.tituloh2 {
  display: block;
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 100px;
  background-color: rgba(255, 166, 0, 0.685);
}

.iframe {
  width: 98vw;
  height: 668px;
  padding: 20px;
  border: 1px solid rgb(0, 0, 0);
}

.panbanner img {
  padding-top: 2.5%;
}

.panbanner img {
  width: 98vw;
}

.titulopanaderia {
  display: block;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 15px;
  box-sizing: border-box;
  padding: 50px;
  background-color: rgba(255, 166, 0, 0.685);
}

.descripcionpanaderia {
  text-align: center;
  background-color: rgb(255, 181, 33);
  padding: 30px;
}

.productospanaderia {
  align-items: center;
  display: flex;
  justify-content: center;
}

.pandemolde img {
  width: 98vw;
  display: block;
  margin: auto;
}

.imgpasteleria {
  width: 98vw;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gridimg {
  height: 350px;
  width: 450px;
  padding-top: 8%;
}

.caja1 {
  display: block;
  font-size: 33px;
  text-align: center;
  font-weight: 800;
  box-sizing: border-box;
  padding: 10px;
  background-color: rgba(255, 166, 0, 0.685);
}

.caja2 {
  text-align: center;
  background-color: rgb(255, 181, 33);
  padding: 30px;
}

.productospasteleria {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 900;
  margin-top: 1px;
}

/*PAGINA CONTACTO*/
.principal img {
  width: 98vw;
}

.contacto1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding: 100px;
  text-align: center;
  font-size: 25px;
  background-color: rgba(255, 166, 0, 0.685);
}

.contacto2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(to bottom, rgb(243, 156, 18), rgb(245, 176, 65), rgb(248, 196, 113));
}

.finalpag {
  display: block;
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 100px;
  background-color: rgba(255, 166, 0, 0.685);
  color: black;
}

.pedidosya img {
  width: 98vw;
}

footer {
  background-color: rgb(255, 166, 0);
}

.footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logofooter {
  width: 100px;
  height: 100px;
}

.iconos {
  width: 40px;
  height: 40px;
}

footer div ul li {
  display: inline-block;
}

/* Media Queries grid*/
@media (max-width: 700px) {
  .grid {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .grid img {
    width: 100vw;
  }
}
/* Media Queries footer*/
@media (max-width: 768px) {
  .footer1 {
    flex-direction: column;
    justify-content: center;
  }
  .logofooter {
    margin-bottom: 10px;
  }
}
/* Media queries para pag contacto */
@media (max-width: 800px) {
  .contacto1 {
    background-color: rgb(255, 166, 0);
    font-size: 15px;
  }
  .contacto2 {
    font-size: 15px;
    background-color: rgba(255, 166, 0, 0.829);
  }
}
/* Media queries para hacer el header responsivo */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }
  header nav ul {
    flex-direction: column;
    margin-top: 10px;
  }
  header nav ul li a {
    padding: 10px 0;
    display: block;
  }
  body header img {
    width: 71px;
    height: 71px;
    margin: auto;
  }
}
/* Pantallas chicas pagina index */
@media only screen and (max-width: 600px) {
  .logo img {
    height: 60px;
    margin-left: 5px;
  }
  .logo h1 {
    font-size: 20px;
  }
  header {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }
  .menu-icon {
    display: block;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  .menu {
    display: none;
  }
  .menu li {
    margin-bottom: 10px;
  }
  .principal {
    padding-top: 5%;
  }
  .principal img {
    max-width: 100%;
    height: auto;
  }
  .tituloh2 {
    font-size: 25px;
    padding: 10px;
  }
  .mision {
    font-size: 20px;
    padding: 10px;
    margin: 0;
  }
  .iframe {
    width: 100%;
    height: 200px;
  }
  .contacto ul {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  .contacto ul li {
    margin: 5px;
  }
}
/* Pantallas medianas pagina index */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .logo img {
    height: 80px;
  }
  .navresponsive {
    flex-direction: column;
  }
  .menu-icon {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  header {
    justify-content: space-between;
    padding: 10px;
  }
  .menu {
    display: none;
  }
  .menu li {
    margin-right: 10px;
  }
  .principal img {
    max-width: 100%;
    height: auto;
  }
}
/* Pantallas chicas pagina pedi ya*/
@media only screen and (max-width: 600px) {
  .finalpag {
    padding: 3%;
  }
}
/* Pantallas chicas pagina panaderia */
@media only screen and (max-width: 600px) {
  .logo img {
    height: 75px;
    margin-left: 5px;
  }
  .logo h1 {
    font-size: 20px;
  }
  header {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    font-size: 20px;
  }
  .barra2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .menu-icon {
    display: block;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  .menu {
    display: none;
    flex-direction: column;
  }
  .menu li {
    margin-bottom: 10px;
  }
  .panbanner img {
    max-width: 100%;
    height: auto;
  }
  .titulopanaderia {
    font-size: 25px;
    padding: 10px;
  }
  .descripcionpanaderia {
    font-size: 20px;
    padding: 10px;
    margin: 0;
  }
  .productospanaderia {
    font-size: 18px;
    padding: 5px;
  }
}
/* Pantallas medianas pagina panaderia*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .logo img {
    height: 40px;
  }
  .barra2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-icon {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
  header {
    justify-content: space-between;
    padding: 10px;
  }
  .panbanner img {
    max-width: 100%;
    height: auto;
  }
  .titulopanaderia {
    font-size: 30px;
    padding: 20px;
  }
  .descripcionpanaderia {
    font-size: 22;
  }
}

/*# sourceMappingURL=style.css.map */
