/*PAGINA CONTACTO*/
.principal img {
    width: 98vw;
  }
  .contacto1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 100px;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    background-color: rgba(255, 166, 0, 0.685);
  }
  .contacto2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: px;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(
      to bottom,
      rgb(243, 156, 18),
      rgb(245, 176, 65),
      rgb(248, 196, 113)
    );
  }