.panbanner img {
    width: 98vw;
  }
  .titulopanaderia {
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 50px;
    background-color: rgba(255, 166, 0, 0.685);
  }
  .descripcionpanaderia {
    text-align: center;
    background-color: rgb(255, 181, 33);
    padding: 30px;
  }
  .productospanaderia {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .pandemolde img {
    width: 98vw;
    display: block;
    margin: auto;
  }
  